#-------------------------------------------------------------------------------
# Env vars below should match names used in foundry.toml.
#-------------------------------------------------------------------------------
PRIVATE_KEY=""

#-------------------------------------------------------------------------------
# RPCs
#-------------------------------------------------------------------------------
# Testnets
RPC_BASE_SEPOLIA=""
RPC_ETH_SEPOLIA=""

# Mainnets
RPC_BASE_MAINNET=""
RPC_ETH_MAINNET=""

#-------------------------------------------------------------------------------
# Code Verification
#-------------------------------------------------------------------------------
# API keys
BASESCAN_API_KEY=""
ETHERSCAN_API_KEY=""